.banner {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.banner video {
    width: 100%;
    height: auto;
    z-index: -10;
}

.banner .custom-card {
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translate(0, -50%);
    z-index: 50;
}
